
Jake_Wavelet/.DS_Store
Jake_Wavelet/__pycache__/data_reader.cpython-38.pyc
Jake_Wavelet/__pycache__/formating_our_data.cpython-38.pyc
Jake_Wavelet/__pycache__/sliding_window.cpython-38.pyc
Jake_Wavelet/__pycache__/transforming_data.cpython-38.pyc
Jake_Wavelet/__pycache__/vary_cnn.cpython-38.pyc
Jake_Wavelet/__pycache__/vary_formating.cpython-38.pyc
*.pyc
Jake_Wavelet/__pycache__/data_reader.cpython-38.pyc
*.h5
Jake_Wavelet/__pycache__/data_reader.cpython-38.pyc
Jake_Wavelet/__pycache__/data_reader.cpython-38.pyc
.DS_Store
.DS_Store
